	1
	2
	3
	4
	5
	--------------:
	6
	7
	8
	9
	10
<---------

*****************************

DevOps
Tue, Jul 12, 2022 8:00 PM - 9:00 PM (PDT)

Please join my meeting from your computer, tablet or smartphone.
https://meet.goto.com/508033445

You can also dial in using your phone.
United States: +1 (872) 240-3412

Access Code: 508-033-445


Get the app now and be ready when your first meeting starts: https://meet.goto.com/install
